{% extends "base.html" %}<!-- Genera un espaciado al inicio, pero es problema del navegador, la solucion es usar uno limpio -->

{% block topico_titulo %}
CONTACTO
{% endblock %}


{% block topico_texto %}
<p>
	Podemos atenderte con gusto en el foro, basta con crear un usuario y crear un tópico con el tema en su sección correspondiente, de la misma forma se da un espacio a los jugadores dentro del juego para que por medio de petición se puedan comunicar con nosotros por último puedes contactarnos vía e-mail: XXXXX@hotmail.com
</p>
{% endblock %}