{% extends "base.html" %}<!-- Genera un espaciado al inicio, pero es problema del navegador, la solucion es usar uno limpio -->

{% block topico_titulo %}
INFORMACION
{% endblock %}

{% block topico_texto %}
<p>
	<strong>Parche:</strong>
	<br>
	<br>
	Opción 1: Parche completo -<a href="XXXXXXX">Clic aquí para descargar.</a>
	<br>Opción 2: Parche completo -<a href="XXXXXXX">Clic aquí para descargar.</a>
</p>        
<p>
	<strong>Descargar e instalar:</strong>
</p>
<p>1. Descargue en cualquiera de las opciones de arriba.
	<br>2. Espere a que termine su descarga.
	<br>3. Descomprima el archivo.
	<br>4. Reemplaze los archivos nuevos insertándolos en su cliente interlude
	<br>	
	<br>		
	<b>Si tienes problemas para ingresar al servidor reportalo al foro: </b>
	<br>
	<center>
		<a href="XXXXX">No puedo ingresar al servidor, deseo reportarlo</a>
	</center>
</p>
{% endblock %}