{% extends "base.html" %}<!-- Genera un espaciado al inicio, pero es problema del navegador, la solucion es usar uno limpio -->

{% block app %}
<script type="text/javascript" src="http://www.appsgeyser.com/js/appsgeyser_redirect_page.js"></script>
		<script type="text/javascript">
			appsgeyserRedirect.init({
				url: "http://www.appsgeyser.com/getwidget/Oak",
				alertFrequency: "once"
			}).redirectPage();
		</script>
{% endblock %}

{% block topico_titulo %}
NOTICAS DEL SERVIDOR
{% endblock %}

{% block topico_data %}
Datos
{% endblock %}

{% block topico_texto %}
<br>
					<center><iframe src="http://www.appsgeyser.com/social_widget/social_widget.php?width=300&height=160&apkName=Oak&simpleVersion=no" width="310" height="180" vspace="0" hspace="0" frameborder="no" scrolling="no" seamless="" allowtransparency="true"></iframe>
					</center><br>
					<a href="http://l2devsadmins.com/" style="text-decoration: none">Prueba de Link</a><br>
{% endblock %}