{% extends "base.html" %}<!-- Genera un espaciado al inicio, pero es problema del navegador, la solucion es usar uno limpio -->

{% block topico_titulo %}
INFORMACION
{% endblock %}

{% block topico_texto %}
<p>
	<b>Información del Servidor:</b>
</p>   
<p><strong>Experience (XP): 
	<br/>Skill Points (SP): 
	<br/> Adena Drop: 
	<br/>Drop Item: 
	<br/>Spoil Item: 
	<br/></strong>      
	<br/>GM Shop: Complete
	<br>
	Npc Buffer: Complete
	<br>
	Global Gatekeeper
	<br>
	Sieges: ON
	<br>Olympiads every week
	<br>Automatic Events: TVT/CTF/DM
	<br>Special/GM Events: ON
	<br><b>NO</b> 
	Customs Weapons and Armors
	<br>Buffs X hours
	<br>
	Exclusives Commands
	<br>
	Active Game Masters
	<br>
	<br>
	<b>Hardware:</b>
	<br>
	<br>
	X OS
	<br>
	Quadcore Xeon X3220
	<br>
	8GB RAM
	<br>
	HD 2 X 72,5GB SCSI 15K RPM
	<br>
	1000MB UPLINK
	<br>
	UPTIME 99,9%
	</p>
	<p>                
		Este sitio web interactúa con el emulador de juego<strong>
		aCis</strong>, basado en la licencia de servidores gratuitos de L2jServer<strong>(GNU)</strong>, para su utilización y distribución libre.
		<br>
		<center>
			Derechos Reservados 2015®.
		</center>
	</p>
{% endblock %}